@media (max-width: 1350px) {
  .header__nav-right-ul {
    display: none;
  }

  .header__nav-right--mobile {
    display: inline-block;
  }

  .header__nav-right--mobile-icon-box {
    height: 4.8rem;
    width: 4.8rem;
    background-color: #3252d0;
    display: inline-block;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .header__nav-right--mobile-icon {
    height: 80%;
    color: #fafafa;
  }
  .header__nav-right {
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 5%;
    position: relative;
  }

  .header__nav-right::after {
    background-color: #eff8fd;
    display: inline-block;
    position: absolute;
    z-index: -1;
    width: 50vw;
    height: 100%;
    content: "";
  }
}

@media (max-width: 1000px) {
  /** 9 px **/
  * {
    font-size: 56%;
  }
}

@media (max-width: 900px) {
  /** 8 px **/
  * {
    font-size: 50%;
  }
}

@media (max-width: 790px) {
  .section__head-title {
    font-size: 6.4rem;
  }

  .section__head--float-container {
    grid-template-columns: 1fr 1fr;
    gap: 10%;
    padding: 10%;
    justify-content: center;
    height: auto;
    justify-items: start;
  }

  .section__head--float-box-button-box {
    justify-self: center;
  }

  .section__head--left-certification {
    margin-bottom: 10rem;
  }

  .section__should--container-top {
    margin: 0;
    width: 100%;
  }

  .section__should--container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 700px) {
  .header__nav-left {
    background-color: #eff8fd;
    z-index: 2;
  }

  .header__nav-right {
    background-color: #eff8fd;
  }

  .header__nav-right::before {
    display: none;
  }

  .section__head {
    grid-template-columns: 80%;
    position: relative;
  }

  .section__head--right {
    background-image: url(./front-view_ccexpress.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    height: 80%;
    width: 80%;
    bottom: 0;
    right: -25%;
    z-index: -2;
  }

  .section__head--float-container {
    width: 125%;
    height: auto;
  }

  .section__brands--container {
    margin: 100px 0;
    width: 100%;
    padding: 0 5%;
    filter: grayscale(1);
    opacity: 0.2;
    display: flex;
    flex-wrap: wrap;
  }

  .section__brands--brand {
    width: 45%;
    margin-bottom: 10%;
  }
}

@media (max-width: 550px) {
  .a--logo {
    font-size: 2.8rem;
    padding-left: 10%;
  }

  .section__head {
    grid-template-columns: 100%;
    position: relative;
  }

  .section__head--right {
    background: none;
  }

  .section__head--float-container {
    grid-template-columns: 1fr;
    width: 100%;
    height: auto;
    gap: 5%;
    padding: 20%;
  }

  .section__head--left-certification {
    margin-bottom: 15rem;
  }

  .section__should--container {
    display: grid;
    grid-template-columns: 1fr;
  }
}

@media (max-width: 350px) {
  .section__head-title {
    font-size: 5.8rem;
  }
}


@media (max-width: 320px) {
}
