@media (max-width: 1350px) {
  .header__nav-right-ul {
    display: none;
  }

  .header__nav-right--mobile {
    display: inline-block;
  }

  .header__nav-right--mobile-icon-box {
    height: 4.8rem;
    width: 4.8rem;
    background-color: #3252d0;
    display: inline-block;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .header__nav-right--mobile-icon {
    height: 80%;
    color: #fafafa;
  }
  .header__nav-right {
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 5%;
    position: relative;
  }

  .header__nav-right::after {
    background-color: #eff8fd;
    display: inline-block;
    position: absolute;
    z-index: -1;
    width: 50vw;
    height: 100%;
    content: "";
  }
}

@media (max-width: 1000px) {
  /** 9 px **/
  * {
    font-size: 56%;
  }
}

@media (max-width: 768px) {
}

@media (max-width: 600px) {
  /** 8 px **/
  * {
    font-size: 50%;
  }

  .header__nav-left {
    background-color: #eff8fd;
    z-index: 2;
  }

  .header__nav-right {
    background-color: #eff8fd;
  }

  .header__nav-right::before {
    display: none;
  }
}

@media (max-width: 320px) {
}
