* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 62.5%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

/**** SECTION-HEADER ****/
.header {
}

.header__nav {
  height: 20rem;
  position: relative;
}

.header__nav-left {
  background-color: #fff;
  width: 100%;
  height: 100%;
}

.header__nav-right {
  background-color: #eff8fd;
  display: inline-block;
  height: 100%;
  padding: 0;
  margin: 0;
}

.header__nav-right::before {
  background-color: #eff8fd;
  display: inline-block;
  position: absolute;
  z-index: -1;
  width: 50vw;
  height: 100%;
  content: "";
}

.header__nav-right-ul {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  align-items: center;
  list-style: none;
  height: 100%;
  padding-right: 5%;
}

.header__nav-right-ul-alone {
  justify-content: end;
  margin-right: 7.7%;
  padding: 0;
}

.header__nav-right-li {
}

.header__nav-right-li-a {
  color: #6d7b93;
}

.header__nav-right-li-a:link,
.header__nav-right-li-a:visited {
  font-size: 2.4rem;
  font-weight: 600;
  text-decoration: none;
}

.header__nav-right-li-a:active,
.header__nav-right-li-a:hover {
  text-decoration: underline;
}

.header__nav-right-li-button {
  color: #fafafa;
  text-decoration: none;
}

.header__nav-right-li-button:hover,
.header__nav-right-li-button:active {
  text-decoration: none;
}

.header__nav-right--mobile {
  display: none;
}

/**** MAIN ****/

/**** SECTION-HEAD ****/
.section__head {
}

/**** SECTION-HEAD-LEFT ****/
.section__head--left {
  max-width: 720px;
}

.section__head-title {
  font-size: 7.6rem;
  font-weight: 800;
  color: #1f3e72;
  padding: 10rem 5%;
  max-width: 720px;
  line-height: 1.2;
  padding-bottom: 5rem;
}

.section__head-description {
  margin-bottom: 5rem;
}

.section__head--left-certification {
  font-size: 3.4rem;
  font-weight: 600;
  justify-content: start;
  padding-left: 5%;
  color: #1f3e72;
  margin-bottom: 20rem;
  margin-right: 2.4rem;
}

.section__head--left-certification-icon-box {
  background-color: #fffae5;
  margin-right: 1.8rem;
}

.section__head--left-certification-icon {
  color: #ffd012;
}

.section__head--left-certification-text {
  padding-right: 3.2rem;
}

/**** SECTION-HEAD-RIGHT-FLOAT ****/
.section__head--float {
  padding: 0 5%;
  margin-bottom: 2.5rem;
}

.section__head--float-title-container {
  display: flex;
  align-items: center;
  margin-bottom: 2.5rem;

}

.section__head--float-icon-box {
  background-color: #f0f4ff;
}

.section__head--float-icon {
  color: #2c4cca;
}

.section__head--float-text {
  font-size: 2.8rem;
  color: #1f3e72;
  font-weight: 600;
}

.section__head--float-icon-box {
  display: inline-flex;
  margin-right: 1.8rem;
}

.section__head--float-text {
  display: inline-block;
}

.section__head--float-container {
  width: 200%;
  height: 20rem;
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-items: center;
  align-content: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 24px;
  padding: 5%;
}

.section__head--float-container::before {
  position: absolute;
  width: 100%;
  height: 100%;
  content: "";
  background-color: #fafafa;
  opacity: 0.9;
  z-index: -1;
  border-radius: 24px;
}

.section__head--float-box {
  display: grid;
  grid-template-columns: auto 1fr;
}

.section__head--float-box-title {
  font-size: 2.6rem;
  color: #6d7b93;
  line-height: 1.5;
}

.section__head--float-box-subtittle {
  grid-column: 2;
  color: #6d7b93;
  line-height: 1.5;
  font-size: 3.2rem;
  color: #1f3e72;
  font-weight: 600;
}

.section__head--float-box-button {
  font-size: 2.4rem;
  font-weight: 600;
}

/**** SECTION-HEAD-RIGHT ****/
.section__head--right {
  background-image: url(./front-view.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 50vw;
  z-index: -2;
}

/**** SECTION-BRANDS ****/

.section__brands--container {
  margin: 100px 0;
  width: 100%;
  padding: 0 5%;
  filter: grayscale(1);
  opacity: 0.2;
}

.section__brands--brand {
  width: 20%;
}

/**** SECTION-SHOULD ****/

.section__should {
  padding: 0 2.5%;
  margin-bottom: 20rem;
}

.section__should--container-top {
  margin: 0;
  width: 50%;

}

.section__should--title {
  margin-bottom: 2.5rem;
}

.section__should--description {
  padding: 0;
  margin-bottom: 5rem;
}

.section__should--container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2.5%;
  align-content: center;
  line-height: 1.2;
}

.section__should-box {
  padding: 10%;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 24px;
}

.section__should-icon-box {
  display: inline-block;
  width: 6.4rem;
  height: 6.4rem;
  background-color: #f1f5ff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10%;
  border-radius: 12px;
}

.section__should-icon {
  width: 70%;
  height: 70%;
  color: #3555d3;
}

.section__should-box-title {
  margin-bottom: 10%;
}

.section__should-box-description {
  margin-bottom: 10%;
}

/**** SECTION-PREPARATIONS ****/

.section__preparation-container {
  display: grid;
  grid-template-columns: 50% 50%;
  margin-bottom: 20rem;
}

.section__preparation--left {
  background-image: url(./woman_img.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
  position: relative;
  left: -16%;
}

.section__preparation--right {
}

.section__preparation--title {
  margin-bottom: 2.5rem;
}

.section__preparation--description {
  padding: 0;
  margin-bottom: 5rem;
}

.visible-text.section__preparation--accord-text-box {
  grid-row: 2;
  grid-column: 2;
  margin-bottom: 5%;
  font-size: 1.8rem;
}

/**** SECTION-PREPARATIONS-ACCORDION ****/

.section__preparation--right {
  padding-right: 5%;
}

.section__preparation--accordions {
  max-width: 768px;
  padding-right: 5%;
}

.section__preparation--accord {
  display: grid;
  grid-template-columns: auto 1fr auto;
  padding: 2.5% 5%;
  align-items: center;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 12px;
  gap: 2.5%;
  row-gap: 5%;
  margin-bottom: 5%;
}

.section__preparation--accord-icon-box {
  background-color: #f0f4ff;
}

.section__preparation--accord-icon {
  color: #2c4cca;
}

.last-accord {
  margin-bottom: 0;
}

/**** SECTION-EMERGENCY****/
.section__emergency {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 20rem;
}

.section__emergency--left {
  padding-left: 5%;
}

.section__emergency--title {
  margin-bottom: 2.5rem;
}

.section__emergency--description {
  padding: 0;
  margin-bottom: 10rem;
}

/**** SECTION-EMERGENCY-BOXES ****/

.section__emergency--boxes {
  grid-template-columns: repeat(2, 1fr);
  gap: 5%;
}

.section__emergency--box {
  padding: 15%;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 12px;
}

.section__emergency--box-title {
  font-weight: 600;
}

.section__emergency--box-up {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10%;
  margin-bottom: 10%;
}

.section__emergency-icon-box {
  grid-row: span 2;
  background-color: #f0f4ff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 6.4rem;
  height: 6.4rem;
}

.section__emergency-icon {
  width: 90%;
  height: 70%;
  color: #3151cf;
}

.section__emergency--box-description {
  color: #6d7b93;
  font-size: 1.8rem;
}

.section__emergency--box-button:visited,
.section__emergency--box-button:link {
  font-size: 2.4rem;
  font-weight: 600;
  text-align: center;
  width: 100%;
  padding: 0;
  display: inline-block;
  padding: 2.4rem 0;
  background-color: #f1f5ff;
  color: #3555d3;
  transition: all 0.3s;
}

.section__emergency--box-button:hover,
.section__emergency--box-button:active {
  background-color: #3555d3;
  color: #f1f5ff;
}

.section__emergency--right {
  background-image: url(./men_img.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 105%;
  height: 100%;
  position: relative;
  left: 10%;
  bottom: -2.5%;
}

/**** SECTION-FOOTER ****/

.footer {
  background-color: #eef3ff;
}

.footer__nav {
  padding: 5rem 2.5%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.footer__nav-logo {
  padding: 0;
}

.description-logo {
  margin-top: 2.2rem;
  font-size: 1.8rem;
  color: #6d7b93;
}

.footer__nav--ul-1 {
  grid-column: 4;
}

.footer__nav--ul {
  display: flex;
  flex-direction: column;
  gap: 2.2rem;
  list-style: none;
}

.footer__nav--p {
  color: #1f3e72;
  font-size: 2.4rem;
  font-weight: 700;
}

.footer__nav--li-a:link,
.footer__nav--li-a:visited {
  color: #6d7b93;
  font-size: 1.8rem;
  text-decoration: none;
}

.footer__nav--li-a:hover,
.footer__nav--li-a:active {
  text-decoration: underline;
}

.footer__nav--terms-left-text {
  margin-top: 5rem;
  grid-column: 1 / 3;
  align-self: flex-end;
  
}

.footer__nav--terms-left-text-1 {
  margin-top: 5rem;
  grid-column: 5/ 6;
}

.footer__nav--terms-left-text-2 {
  margin-top: 5rem;
  grid-column: 6 / 7;
}
